:root.theme-dark {
  --accent-color: #FF0070;
  --bg-color: #000028;
  --decoration-color: #FF0070;
  --button-color: #FF0070;
  --decor-color: #000028;
  --decor-bg-color: #FF0070;
  --main-bg-color: #000028;
  --main-text-color: #F1B2CE;
  --nav-color: #000028;
  --nav-hover-color: rgba(255, 0, 112, 0.4);
  --main-heading-color: #FF0070;
  --header-logo-color: #DB00FF;
  --footer-logo-color: #DB00FF;
  --background-image: url("../images/cover-image-dark.png");
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #FF0070;
    --bg-color: #000028;
    --decoration-color: #FF0070;
    --button-color: #FF0070;
    --decor-color: #000028;
    --decor-bg-color: #FF0070;
    --main-bg-color: #000028;
    --main-text-color: #F1B2CE;
    --nav-color: #FF0070;
    --nav-hover-color: rgba(255, 0, 112, 0.4);
    --main-heading-color: #FF0070;
    --header-logo-color: #DB00FF;
    --footer-logo-color: #DB00FF;
    --background-image: url("../images/cover-image-dark.png");
  }
  
  .decorated-element {
    display: flex;
  }
}

.theme-dark .decorated-element {
  display: flex;
}