:root.theme-light {
  --main-bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --title-shadow: #FF0070;
  --section-title-color: #353430;
  --card-title-color: #353430;
  --card-bg-color: #FF8DCB;
  --button-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --decor-color: #353430;
  --header-bg-image: url("../images/cover-image-light.png");
}

.theme-light .decorated-element {
  display: none;
}

.theme-light .header__theme-menu-button {
  color: var(--button-color);
}

.theme-light .header__theme-menu-button:hover {
  border-color: var(--button-hover-color);
}

.theme-light .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
}

.theme-light .header__theme-menu-button_active {
  border-color: var(--button-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --title-shadow: #FF0070;
    --section-title-color: #353430;
    --card-title-color: #353430;
    --card-bg-color: #FF8DCB;
    --button-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --decor-color: #353430;
    --header-bg-image: url("../images/cover-image-light.png");
  }
  
  .decorated-element {
    display: none;
  }
}
