:root.theme-light {
  --accent-color: #FF8DCB;
  --bg-color: #FFF1F7;
  --decoration-color: #353430;
  --button-color: #353430;
  --decor-color: #353430;
  --decor-bg-color: #FF8DCB;
  --main-bg-color: #FF8DCB;
  --main-text-color: #353430;
  --nav-color: #353430;
  --nav-hover-color: rgba(53, 52, 48, 0.4);
  --main-heading-color: #353430;
  --header-logo-color: #FFC2E6;
  --footer-logo-color: #FFC2E6;
  --background-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --bg-color: #FFF1F7;
    --decoration-color: #353430;
    --button-color: #353430;
    --decor-color: #353430;
    --decor-bg-color: #FF8DCB;
    --main-bg-color: #FFF1F7;
    --main-text-color: #353430;
    --nav-color: #353430;
    --nav-hover-color: rgba(53, 52, 48, 0.4);
    --main-heading-color: #353430;
    --header-logo-color: #FFC2E6;
    --footer-logo-color: #FFC2E6;
    --background-image: url("../images/cover-image-light.png");
  }
  
  .decorated-element {
    display: none;
  }
}

.theme-light .decorated-element {
  display: none;
}