.page {
  font-size: var(--regular-font-size);
  font-family: var(--project-font-family);
  background-color: var(--bg-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.header {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  margin: auto 10px;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr min-content 1fr;
}

@media (width >= 768px) {
  .header {
    margin: auto 20px;
    min-height: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }
}

.decorated-zone::before {
  content: " ";
  display: inline-flex;
  position: absolute;
  width: 25px;
  height: 25px;
  top: var(--decoration-gap);
  right: var(--decoration-gap);
  border-top: var(--corner-thickness) solid var(--decoration-color);
  border-right: var(--corner-thickness) solid var(--decoration-color);
  inset-inline-end: 0;
}

.decorated-zone::after {
  content: " ";
  position: absolute;
  width: 25px;
  height: 25px;
  left: var(--decoration-gap);
  bottom: var(--decoration-gap);
  border-left: var(--corner-thickness) solid var(--decoration-color);
  border-bottom: var(--corner-thickness) solid var(--decoration-color);
  inset-inline-start: 0;
}

.rec_lable {
  position: absolute;
  top: var(--decoration-gap);
  right: var(--decoration-gap);
  align-self: start;
  justify-self: right;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 25px;
  color: var(--accent-color);
  text-transform: uppercase;
  inset-inline-end: 0;
}

.rec_lable::after {
  content: " ";
  inline-size: 9px;
  block-size: 9px;
  margin-left: 11px;
  margin-right: 10px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  flex-shrink: 0;
}

.header__theme-menu {
  padding-top: 10px;
  justify-self: end;
}

@media (width >= 768px) {
  .header__theme-menu {
    padding-top: 20px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    padding-top: 10px;
    display: flex;
    align-self: start;
    justify-self: center;
    flex-direction: row;
  }
}

.header__theme-menu-list {
  gap: 10px;
  display: grid;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    margin-top: 10px;
    gap: 10px;
    grid-auto-flow: column;
  }
}

.header__theme-menu-button {
  color: var(--button-color);
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  inline-size: 70px;
  block-size: 26px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  box-shadow: 0 0 0 1px var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  color: var(--button-color);
  border: 1px solid var(--nav-hover-color);
}

.section__title {
  font-family: var(--project-font-family);
  font-weight: 700;
  line-height: 83%;
  color: var(--header-logo-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  .section__title {
    position: relative;
    inset-inline-start: calc(-1 * 20px);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  color: var(--decor-color);
  background-color: var(--decor-bg-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  justify-self: end;
  margin-block-end: 10px;
  max-inline-size: 355px;
  max-block-size: 117px;
}

@media (width >= 768px) {
  .header__text {
    margin-bottom: 20px;
    max-inline-size: 364px;
    max-block-size: 117px;
  }
}

@media (width >= 1024px) {
  .header__text {
    margin-bottom: 20px;
    max-inline-size: 491px;
    max-block-size: 71px;
  }
}

.title-decor-advice {
  color: var(--decor-color);
  background-color: var(--decor-bg-color);
  font-family: inherit;
  font-size: inherit;
}

.content-section {
  line-height: 23.4px;
}

@media (width >= 768px) {
  .content-section {
    column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width >= 1024px) {
  .content-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.text-blocks {
  gap: 20px;
  display: grid;
}

@media (width >= 768px) {
  .text-blocks {
    grid-column: span 2;
  }
}

.text-block {
  grid-template-rows: min-content 1fr;
  display: grid;
}

.content-section__title {
  color: var(--decoration-color);
  font-weight: 700;
  font-size: inherit;
  margin-bottom: 20px;
}

@media (width >= 768px) {
  .content-section__title {
    inline-size: 236px;
  }
}

@media (width >= 1024px) {
  .content-section__title {
    inline-size: 315px;
  }
}

.title-decor {
  color: var(--decor-color);
  background-color: var(--decor-bg-color);
  font-weight: 700;
  font-size: inherit;
  margin-bottom: 10px;
}

.text-block__subtitle {
  color: var(--decor-color);
  background-color: var(--decor-bg-color);
  font-weight: 400;
  font-size: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
}

.text-block__content {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: var(--regular-font-size);
  line-height: 23.4px;
}

.text-block__list {
  font-size: inherit;
  font-family: inherit;
}

.content {
  margin-top: 40px;
  margin: auto 10px;
}

@media (width >= 768px) {
  .content {
    margin: auto 20px;
  }
}

.why {
  margin-top: 40px;
}

@media (width >= 768px) {
  .why {
    margin-top: 60px;
  }
}

.causes {
  margin-top: 50px;
}

@media (width >= 768px) {
  .causes {
    margin-top: 80px;
  }
}

.text-blocks-causes {
  gap: 20px;
  display: grid;
  grid-column: 1/ -1;
}

@media (width >= 1024px) {
  .text-blocks-causes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advices {
  margin-top: 50px;
}

@media (width >= 768px) {
  .advices {
    column-gap: 20px;
    margin-top: 80px;
  }
}

.gallery-section {
  margin: 50px 0 40px 0;
}

@media (width >= 768px) {
  .gallery-section {
    margin: 79px 0 60px 0;
  }
}

@media (width >= 1024px) {
  .gallery-section {
    margin: 80px 0 60px 0;
  }
}

.gallery {
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  display: flex;
  grid-template-columns: 1fr;
}

@media (width >= 768px) {
  .gallery {
    gap: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }
}

.sunset-pic {
  grid-area: sunset;
}

.ice-cream-pic {
  grid-area: ice-cream;
}

.tape-pic {
  grid-area: tape;
}

.books-pic {
  grid-area: books;
}

.street-pic {
  grid-area: street;
}

.gallery__item {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  margin: auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width >= 768px) {
  .footer {
    min-height: 1024px;
    margin: auto 20px;
  }
}

@media (width >= 1024px) {
  .footer {
    min-height: 768px;
  }
}

.footer_title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .footer_title {
    margin-left: 40px;
  }
}

.simpl-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.simpl-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.simpl-link:focus {
  outline: none;
}

.simpl-link:focus-visible {
  outline: 1px solid currentColor;
}