:root {
  --main-bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --title-shadow: #FF0070;
  --section-title-color: #FF0070;
  --card-title-color: #000028;
  --card-bg-color: #FF0070;
  --button-color: #FF0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --decor-color: #000028;
  --decor-bg-color: #FF0070;
  --decoration-color: #FF0070;
  --main-text-color: #F1B2CE;
  --main-font: 'IBM Plex Mono', monospace;
  --font-size-base: 18px;
  --background-image: url("../images/cover-image-dark.png");
}